################################################################################
# Visual Studio Build and Metadata ignores
################################################################################

# IDE Metadata
.vs/
*.sln.dotsettings.user
*.user

# Build Artifacts
[Xx]64/
[Dd]ebug/
[Rr]elease/

# Specific file types to ignore
*.exe
*.out
*.obj
*.pdb
*.log
*.tlog
*.lastbuildstate

# Block IDE and Build folders everywhere
**/.vs/
**/x64/
**/Debug/
**/Release/
*.exe
*.pdb
*.user

